{% extends "base.html" %}
{% block content %}
<div class="pastel">
  <h4>Carrito</h4>
  {% if cart %}
  <table class="table">
    <thead><tr><th>Producto</th><th>Cantidad</th><th>Subtotal</th></tr></thead>
    <tbody>
      {% for code, item in cart.items() %}
        <tr>
          <td>{{ item['producto'] }}</td>
          <td>{{ item['cantidad'] }}</td>
          <td>${{ '%.2f'|format(item['cantidad']*item['precio']) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><strong>Total: </strong> ${{ '%.2f'|format(total) }}</p>
  <form method="post" action="{{ url_for('finalizar') }}">
    <button class="btn btn-success">Finalizar venta</button>
    <a href="{{ url_for('inventario') }}" class="btn btn-secondary">Seguir comprando</a>
  </form>
  {% else %}
    <p>Tu carrito está vacío.</p>
    <a class="btn btn-primary" href="{{ url_for('inventario') }}">Ir al inventario</a>
  {% endif %}
</div>
{% endblock %}
